<!DOCTYPE html>
{% load staticfiles %}
<html>

<head>
    <link href="{% static 'css/rango/footer.css' %}" rel="stylesheet" type="text/css" />
    <title>Rango-
        {% block title_block %}
        How to Tango
        {% endblock %}
    </title>
</head>

<body>
    <h1 style="text-align:center">Hello
        {% if user.is_authenticated  %}
        {{user.username}} !</h1>
    {% else %}
    ! Please Login</h1>
    {% endif %}
    {% block body_block%}

    <!-- Page specifics-->
    <h1>Default Page</h1>
    {% endblock %}
    <div class="footer">
        <div class="footer_about">
            <p class="footer_content">
                <img src=" " alt="logo" /><br />
                Scoolease is a venture led by the student of IIT Roorkee.The team
                works independently to create a strong school network.Our prime motive
                is to ease out the communication with school and make these golden
                days of knowledge a cake walk.<br /><br />2019 All rights reserved.
            </p>
        </div>
        <div class="footer_gettouch">
            <h4>Get in Touch With Us</h4>

            <p class="footer_content">Feel free to contact us anytime.</p>
            <div class="social_links">
                <img src="" alt="twitter" />
                <img src="" alt="googleplus" />
                <img src="" alt="facebook" />
                <img src="" alt="instagram" />
            </div>
        </div>
        <div class="footer_contact">
            <h4>Contact Information</h4>
            <p class="footer_content">
                D-14 Tripti Vihar,Ujjain-456010<br />+91-9425986067,hello@schoolease.in
            </p>
        </div>
    </div>
</body>

</html>